{% extends "_partials/base.html" %}
{% import '_partials/macros.html' as macros %}
{% block title %}{{fonts}}{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold leading-6 text-slate-900 dark:text-white mb-6">{{fonts}}</h1>
<section class="blog-posts grid grid-cols-2">
    {%- for font in smcfonts %}
    {{ macros.font_card(font=font) }}
    {%- endfor %}
</section>

<h1 class="text-xl font-bold leading-6 text-slate-900 dark:text-white mb-6">{{otherfonts}}</h1>
<ul class="blog-posts grid grid-cols-1">
    {%- for font in externalfonts %}
    <li  class="text-lg bg-gray-200 dark:bg-slate-800 my-2 p-4">
        <a href="{{font.link}}">{{font.title}}</a>
    </li>
    {%- endfor %}
</ul>

{% endblock %}
