{% extends "_partials/base.html" %}
{% import '_partials/macros.html' as macros %}
{% block title %}Blogs{% endblock %}

{% block content %}
<h1 class="text-xl font-bold leading-6 text-slate-900 dark:text-white mb-6">{{blogs}}</h1>
<section class="blog-posts grid grid-cols-2">
    {%- for post in posts %}
    <div class="container mx-8 my-8 col-span-2">
        {{ macros.blog_post_card( post=post   ) }}
    </div>
    {%- endfor %}
</section>
{% endblock %}