{% extends "_partials/base.html" %}

{% block title %}{{posts[0].title}}{% endblock %}
{% block content %}
{%- for post in posts %}
    <h1 class="text-3xl font-bold leading-6 text-slate-900 dark:text-white mb-6">{{post.title}}</h1>
    <img src="{{post.feature_image}}"/>
    <div>{{post.published_at}}</div>
    {%- for author in post.authors %}
    <div>{{author.name}}</div>
    {%- endfor %}
    <article class="mt-8 pprose dark:prose-invert mx-auto lg:prose-lg">{{post.html}}</article>
    {%- endfor %}
{% endblock %}
