{% extends "_partials/base.html" %}
{% import '_partials/macros.html' as macros %}
{% block title %}Projects{% endblock %}

{% block content %}
<h1 class="text-xl font-bold leading-6 text-slate-900 dark:text-white mb-6">Projects</h1>
<section class="blog-posts grid grid-cols-1">
    {%- for project_categories in projects %}
    <h1 class="text-xl font-bold leading-6 text-slate-900 dark:text-white mt-5">{{project_categories.heading}}</h1>
    {%- for project in project_categories.list %}
    {{ macros.project_card(project=project) }}

    {%- endfor %}
    {%- endfor %}
</section>
{% endblock %}