{% extends "_partials/base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<article class="mt-8 prose dark:prose-invert mx-auto lg:prose-lg">
    <h1>About Swathanthra Malayalam Computing (SMC)</h1>
    <p>
        Swathanthra Malayalam Computing (SMC) is a free software collective engaged in the development, localization, standardization and popularization of various Free and Open Source Software in the Malayalam language.

        We have been active since October 2002 and have been working to provide Malayalam language tools that work on all layers of computing including but not limited to rendering fixes, fonts, input mechanisms, translations (localization), text-to-speech engines, dictionaries, spell checkers and Indic script based language computing specific tools across operating systems. We are the upstream for Malayalam fonts and tools for popular GNU/Linux-based operating systems such as Fedora and Debian. We also maintain localizations for popular Free Software Desktops (GNOME/KDE), popular applications such as Firefox and Libre Office.

        SMC also works on developing accessibility support for Indic languages and maintains Dhvani TTS which supports 11 languages. Over the years, SMC has evolved to accommodate developers focused on Indic script-based languages and now provides tools for Indic language computation as well.

        We are perhaps the largest language technology developer community in India and collaborate very closely with government and industry, and serve as an advisory body to governmental/semi-governmental organizations that determine the future of the Malayalam language on computing devices. We are not just developers, we also have linguists, journalists, Wikipedians, writers and all sorts of language users among us.
    </p>
</article>
{% endblock %}
