{% import "_partials/macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    {% block head %}
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/typography.css" />
    <script src="/assets/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css">
    <title>{% block title %}{% endblock %} - {{sitename}}</title>
    {% endblock %}
</head>
<body class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900 grid grid-cols-12 gap-4">
    <header class="sticky top-0 z-40 w-full bg-slate-800 text-white p-4 flex-none col-span-12">
    {% include "_partials/nav.html" %}
    </header>
    <main id="content" class="lg:col-start-2 col-span-12 lg:col-span-10">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer bg-gray-200 dark:bg-slate-800 p-4 mt-8 col-span-12">
    {% include "_partials/footer.html" %}
    </footer>

</body>
</html>