
    <div class="container mx-auto text-center text-slate-900 dark:text-white">
        <div><strong>Swathanthra Malayalam Computing.</strong><br> Unless otherwise stated, content is available under
            the <br><a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike
                License</a>.
        </div>
        <div class="social">
            {%- for social_item in socialmedialinks %}
            <a href="{{social_item.url}}" title="{{social_item.title}}" class="fa-brands fa-{{social_item.name}}"></a>
            {%- endfor %}
        </div>
        <i class="fa fa-egg"></i>
    </div>
