{% macro blog_post_card(post) %}
<div class="max-w-full bg-gray-200 dark:bg-slate-800 rounded overflow-hidden shadow-lg grid grid-cols-6 m-4">
  <!-- Image Column -->
  <div class="col-span-2">
    <img class="w-full h-full object-cover" src="{{ post.feature_image }}" alt="{{ post.title }}">
  </div>

  <!-- Text Content Column -->
  <div class="col-span-4 p-4">
    <div class="font-bold text-xl mb-2">
      <a href="{{post.slug}}" class="text-slate-500 dark:text-slate-100"> {{ post.title }}</a>
    </div>
    <p class="text-slate-500 dark:text-slate-400 text-sm mb-4">{{ post.primary_author.name }} | {{ post.published_at }}
    </p>
    <p class="text-slate-500 dark:text-slate-400 text-base">{{ post.excerpt }}</p>
    {% if post.primary_tag.name %}
    <div class="mt-4">

      <span class="inline-block bg-gray-200 rounded px-3 py-1 text-md font-semibold text-gray-700 mr-2">
        {{ post.primary_tag.name }}
      </span>
    </div>
    {% endif %}
  </div>

</div>
{% endmacro %}


{% macro project_card(project) %}
<section class="max-w-full bg-gray-200 dark:bg-slate-800 rounded overflow-hidden shadow-lg grid grid-cols-6 m-4">
  <!-- Text Content Column -->
  <div class="col-span-4 p-4">
    <h2 class="block mt-3 text-lg font-semibold leading-6 text-slate-900 dark:text-white">
      {{project.title}}</h2>
    <p class="block mt-5 line-clamp-3 text-md leading-6 text-slate-500 dark:text-slate-100">{{project.description}}</p>

    <div class="block ">
      {%- for link in project.links %}
      <a href="{{link.url}}" class="mr-8 text-sky-500">{{link.text}}</a>
      {%- endfor %}
    </div>
  </div>

  <!-- Image Column -->
  <div class="col-span-2">
    {% if project.logo %}
    <img class="w-full h-full object-cover" src="{{  project.logo }}" alt="{{ title }}">
    {% endif %}
  </div>
</section>
{% endmacro %}


{% macro font_card(font) %}
<section
  class="max-w-full bg-gray-200 dark:bg-slate-800 rounded overflow-hidden col-span-2 shadow-lg grid grid-cols-1 col-span-1 lg:col-span-1 m-4">
  <!-- Text Content Column -->
  <div class="col-span-1 p-4">
    <div class="grid grid-cols-6">
      <a href="{{font.path}}" class="col-span-5">
        <h2 class=" my-3 text-xl font-semibold leading-6 text-slate-900 dark:text-white">
          {{font.title}}
        </h2>
      </a>
      <a href="{{font.download}}"
        class="col-span-1 text-end text-blue-700 dark:text-white mr-8 px-4 py-2  rounded" >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M19.5 21a3 3 0 0 0 3-3V9a3 3 0 0 0-3-3h-5.379a.75.75 0 0 1-.53-.22L11.47 3.66A2.25 2.25 0 0 0 9.879 3H4.5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h15Zm-6.75-10.5a.75.75 0 0 0-1.5 0v4.19l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V10.5Z" clip-rule="evenodd" />
        </svg>


      </a>
    </div>
    <p class="text-lg">{{font.description}}
      {% if font.badge %}
      <span
        class="self-end text-center inline-block text-slate-500 dark:text-slate-100   bg-gray-200 dark:bg-slate-900  rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
        {{font.badge}}
      </span>
      {% endif %}</p>
    <div contenteditable=""
      class="block mt-5 line-clamp-3 text-md leading-normal text-slate-500 dark:text-slate-100 bg-gray-100 dark:bg-slate-900 p-4 font-{{font.title|lower}} text-3xl">
      {{font.sample}}</div>


  </div>

</section>
{% endmacro %}