
    <div class="container mx-auto grid grid-cols-3">
        <!-- Logo and Brand Name -->
        <div class="flex items-center col-span-1">
            <a href="/{{language}}">
                <img class="h-8 w-auto" src="/assets/logo.svg" alt="Logo"></a>
            <span class="ml-2 text-lg font-semibold">{{sitename}}</span>
        </div>

        <!-- Navigation Links -->
        <nav class="col-span-2 flex items-center justify-end space-x-4">
            {%- for nav_item in nav %}
            {% if not language or language == "" %}
            <a href="/{{nav_item.link}}" class=" hover:text-gray-300">{{nav_item.label}}</a>
            {% else %}
            <a href="/{{language}}/{{nav_item.link}}" class=" hover:text-gray-300">{{nav_item.label}}</a>
            {% endif %}
            {%- endfor %}
            {%- for lang in languages %}
            {% if lang.code != language %}
            <a href="/{{lang.code}}" class="hover:text-gray-300">{{lang.name}}</a>
            {% endif %}
            {%- endfor %}

            <!-- Hamburger Menu for Small Screens -->
            <button id="hamburger" class="lg:hidden md:hidden">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </button>
        </nav>
    </div>


<!-- Responsive Navigation Menu (Hidden by Default) -->
<div id="nav-menu" class="lg:hidden fixed top-0 inset-x-0 p-4 bg-gray-800 text-white hidden">
    {%- for nav_item in nav %}
    {% if not language or language == "" %}
    <a href="/{{nav_item.link}}" class="block py-2 hover:text-gray-300">{{nav_item.label}}</a>

    {% else %}
    <a href="/{{language}}/{{nav_item.link}}" class="block py-2 hover:text-gray-300">{{nav_item.label}}</a>
    {% endif %}
    {%- endfor %}
</div>