@import url("./fonts.css");

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:lang(ml) {
  hyphens: auto;
  -webkit-hyphenate-character: "";
  hyphenate-character: "";
  -webkit-hyphenate-character: "";
  hyphenate-limit-chars: 6 3 2;
  /*Avoiding hyphenated words across the last line of a paragraph*/
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

:lang(en) {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  /* Limiting the number of consecutive hyphenated lines */
  hyphenate-limit-lines: 2;
  /*Avoiding hyphenated words across the last line of a paragraph*/
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}
